{% include base_path %}

<!-- start custom head snippets -->

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="icon" type="image/svg+xml" href="{{ base_path }}//images/site-logo.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}//images/site-logo.png" sizes="32x32"/>
<!--<link rel="icon" type="image/png" href="http://localhost:4000/images/favicon-192x192.png" sizes="192x192"/>-->
<link rel="manifest" href="{{ base_path }}//images/manifest.json"/>
<link rel="icon" href="/images/site-logo.ico"/>
<meta name="theme-color" content="#ffffff"/>
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>


<!-- Support for MatJax -->
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- Person structured data (schema.org / JSON-LD) -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "https://michellezhao.net/#michelle-zhao",
  "name": "Michelle Zhao",
  "givenName": "Michelle",
  "familyName": "Zhao",
  "honorificSuffix": "Ph.D.",
  "url": "https://michellezhao.net/",
  "image": "https://michellezhao.net/images/circular_prof_pic.png",
  "jobTitle": "Assistant Professor of Computer Science",
  "description": "Assistant Professor of Computer Science at Indiana University Bloomington and Director of the Reliable Interactive Autonomy Lab.",
  "knowsAbout": [
    "Human-Robot Interaction",
    "Interactive Machine Learning",
    "Uncertainty Quantification",
    "Robot Learning from Human Feedback",
    "Robotics"
  ],
  "worksFor": {
    "@type": "CollegeOrUniversity",
    "name": "Indiana University Bloomington",
    "url": "https://bloomington.iu.edu/"
  },
  "affiliation": [
    {
      "@type": "Organization",
      "name": "Luddy School of Informatics, Computing, and Engineering",
      "url": "https://luddy.iu.edu/"
    },
    {
      "@type": "Organization",
      "name": "Reliable Interactive Autonomy Lab",
      "url": "https://reliable-interactive-autonomy-lab.github.io/"
    }
  ],
  "alumniOf": [
    {
      "@type": "CollegeOrUniversity",
      "name": "Carnegie Mellon University",
      "url": "https://www.cmu.edu/"
    },
    {
      "@type": "CollegeOrUniversity",
      "name": "California Institute of Technology",
      "url": "https://www.caltech.edu/"
    }
  ],
  "sameAs": [
    "https://mzhao98.github.io/",
    "https://luddy.iu.edu/people/zhao-michelle.html",
    "https://scholar.google.com/citations?user=Gu4eXZwAAAAJ&hl=en",
    "https://orcid.org/0000-0001-7522-2300",
    "https://dblp.org/pid/332/1115.html",
    "https://github.com/mzhao98",
    "https://www.linkedin.com/in/michelledzhao/"
  ]
}
</script>

<!-- end custom head snippets -->
